.wy-nav-content {
  max-width: none !important;
  width: 100% !important; 
}

.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a {
    font-size: 20px !important; 
    font-weight: bold !important; 
    line-height: 1.3 !important;
}

.switch-menus,
.switch-menus .version-switch {
    display: none !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
